<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>

<p>
  <strong>Send at:</strong>
  <%= @email.send_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @email.user_id %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
